html {
  background: #f2f1f4;
  color: #19171c;
}

header {
  padding: 20px;
}

.logo {
  float: left;
  margin-right: 20px;
}

.tagline {
  font-family: "Gotham SSm A","Gotham SSm B",Arial,sans-serif;
  font-size: 18px;
  width: 600px;
}

.logo img {
  width: 60px;
}
