html {
  background: #f2f1f4;
  color: #19171c;
}

header {
  padding: 20px;
}

.logo {
  float: left;
  margin-right: 20px;
}

.tagline {
  font-family: "Gotham SSm A","Gotham SSm B",Arial,sans-serif;
  font-size: 18px;
  width: 600px;
}

.logo img {
  width: 60px;
}

.box {
  width: 400px;
  height: 400px;
  position: relative;
  float: left;
  margin: 10px;
  box-sizing: border-box;
  display: block;
}

.box img {
  object-fit: cover;
  position: relative;
  width: 400px;
  height: 400px;
}

h1 {
  background: white;
  display: inline;
  padding: 5px;
  position: absolute;
  bottom: 15px;
  margin: 0;
}

@media (max-width: 767px) {
.box {
  position: relative;
  left: 25%;
  padding: 20px;
}
  h1 {
    left: 20px;
  }

@media only screen and (max-width: 1023px)
.box {
  padding: 3%;
}

@media only screen and (min-width: 1024px)
.box {
  padding: 0%;
}
