html {
  background: #f2f1f4;
  color: #19171c;
}

header {
  padding: 25px;
  margin: auto;
  width: 88%;
}

.logo {
  float: left;
  margin-right: 20px;
}

.tagline {
  font-family: "Gotham SSm A","Gotham SSm B",Arial,sans-serif;
  font-size: 18px;
  width: 600px;
}

.logo img {
  width: 60px;
}

.articles {
  margin: auto;
  width: 90%;
  padding: 20px;
}


.box {
  width: 400px;
  height: 400px;
  position: relative;
  float: left;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
}

.box img {
  object-fit: cover;
  position: relative;
  width: 400px;
  height: 400px;
}

h1 {
  background: white;
  display: inline;
  padding: 5px;
  position: absolute;
  bottom: 35px;
  margin: 0;
  font-family: 'Helvetica';
  font-size: 30px;
}

.box p {
  background: white;
  display: inline;
  padding: 5px;
  position: absolute;
  bottom: 10px;
  margin: 0;
  font-family: 'Helvetica';
  font-size: 15px;
  }

@media (max-width: 767px) {
  .articles {
    width: 53%;
  }
.box {
  /*position: relative;
  left: 25%;*/
  padding: 20px;
}
  h1 {
    left: 20px;
  }
}


@media (min-width:768px) and (max-width: 1023px) {

.box {
    width: 200px;
    height: 200px;
    position: relative;
    float: left;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
  padding: 3%;
  }
  .box img {
    object-fit: cover;
    position: relative;
    width: 200px;
    height: 200px;
  }
  h1 {
    padding: 2px;
    bottom: 20px;
    font-size: 19px;
  }
.box p {
    bottom: -1px;
    font-size: 10px;
}
  .articles {
    width: 94%;
  }
}
